[Desktop Entry]
Name=Nova
Comment=Navegador web moderno basado en Chromium
Exec=nova-browser %U
Icon=nova-browser
Terminal=false
Type=Application
Categories=Network;WebBrowser;
MimeType=text/html;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=nova-browser
